body {
  margin: 0;
  padding: 0;
}
h1 {
  background-color: rgb(99, 99, 196);
  font-size: 50px;
  padding: 25px;
  margin: auto;
}
#div {
  background-color: rgb(119, 119, 187);
  padding: auto;
  margin: auto;
}
img {
  padding: 20px;
}
